.badge {
    padding: rem(8px) rem(16px);
    width: fit-content;
    background: rgba($color-brand-black, 10%);
    border-radius: $border-radius-full;

    // @todo - move to theme.scss
    .theme-orange & {
        background: $color-brand-orange;
        color: $color-system-white;
    }
}

.badge--primary {
    background-color: $color-brand-orange;
    color: $color-system-white;
}

.badge--secondary {
    background-color: $color-brand-yellow;
    color: $color-brand-black;
}

.badge--tertiary {
    background-color: rgba($color-system-white, 20%);
    color: $color-system-white;
    backdrop-filter: blur($blur-md);
}

.badge__label {
    @include type-style-11;
}
