.callout-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100svh;
  text-align: center;
}

.callout-content__container {
  padding-top: rem(128px);
  padding-bottom: rem(128px);
}

.callout-content__content {
  @include type-style-02--featured;
}
