.footer-cta {
  display: flex;
  height: calc(12dvw * var(--text-3d-count, 1));

  @media (min-width: $break-grid-md) {
    height: calc(6dvw * var(--text-3d-count, 1));
  }
}

.footer-cta__plane {
  display: flex;
  flex-direction: column;
  position: absolute;
  transform-style: preserve-3d;
}
