.hero {
    position: relative;
}

.hero--has-image {
    &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: rem(550px);
        background: $color-brand-yellow;
        z-index: -1;

        @media (min-width: $break-grid-md) {
            height: rem(700px);
        }

        @media (min-width: $break-grid-xl) {
            height: rem(1080px);
        }
    }

    &.hero--bg-orange-light {
        &::after {
            background: $color-brand-orange-light;
        }
    }
}

.hero__container {
    padding-top: rem(128px);
    padding-bottom: rem(64px);
}

.hero__title {
    margin-left: rem(-8px);
    @include type-style-01--hero;
    color: $color-brand-black;

    .hero--title-primary & {
        @include type-style-01;
    }

    .hero--has-badge & {
        margin-top: rem(48px);
    }
}

.hero__content {
    margin-top: rem(64px);
    max-width: 700px;
    color: $color-brand-black;

    p {
        @include type-style-09;

        &:first-child {
            text-indent: rem(64px);
        }
    }
}

.hero__content:empty {
    display: none;
}

.hero-media {
    margin-top: rem(64px);
}

.hero-media__background {
    background-color: $color-system-white;
}

.hero-media__image {
}
