.icon-text {
    display: flex;
    flex-direction: column;
    gap: rem(24px) 0;
    height: 100%;
}

.icon-text__header {
    padding-bottom: rem(24px);
    border-bottom: rem(1px) solid $color-system-border;
}

.icon-text__body {
    display: flex;
    flex-direction: column;
    gap: rem(20px) 0;
}

.icon-text__footer {
    margin-top: auto;
}

.icon-text__icon {
    height: rem(32px);
}

.icon-text__title {
    @include type-style-05;
    color: $color-brand-black;
}

.icon-text__description {
    @include type-style-08;
}
