.popup {
}

.popup__content {
    position: fixed;
    top: 50%;
    left: 50%;
    padding: rem(192px);
    margin-top: rem(600px);
    transform: translate(-50%, -50%);
    width: 95%;
    background-color: $color-brand-black;
    border-radius: $border-radius-2xl;
    color: $color-brand-grey;
    @include type-style-02;
    line-height: 1.1;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 2;
    transition: all $transition-cubic;

    .is-active & {
        margin-top: 0;
        opacity: 1;
        visibility: visible;
        pointer-events: all;
    }
}

.popup__content--highlighted {
    color: $color-system-white;
}

.popup__close {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: rem(32px);
    right: rem(32px);
    width: rem(48px);
    height: rem(48px);
    background-color: rgba($color-system-white, 10%);
    border-radius: $border-radius-full;
    color: $color-brand-light-grey;
    font-size: rem(24px);
    transition: all $transition-default;

    &:hover,
    &:focus-visible {
        background-color: rgba($color-system-white, 15%);
    }

    &:focus-visible {
        outline-color: $color-system-white;
    }
}
