.project-card {
    color: $color-system-white;
}

.project-card--vertical {
}

.project-card__media {
    position: relative;
    aspect-ratio: 4 / 5;
    border-radius: $border-radius-2xl;
    overflow: hidden;

    @media (min-width: $break-grid-md) {
        aspect-ratio: 16 / 9;
    }

    .project-card--vertical & {
        @media (min-width: $break-grid-md) {
            aspect-ratio: 4 / 5;
        }
    }
}

.project-card__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-card__title {
    padding: rem(32px);
    position: absolute;
    bottom: 0;
    left: 0;
    @include type-style-04--project;

    @media (min-width: $break-grid-2xl) {
        padding: rem(48px);
    }
}
