.reveal-image {
    position: relative;
}

.reveal-image__background {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background-color: $color-page-bg;
}

.reveal-image__image {
    object-fit: cover;
}
