.reveal-text {
}

.reveal-text__item-wrapper {
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
}

.reveal-text__item {
    display: inline-block;
    margin-right: rem(20px);

    .reveal-text--spacing_xs & {
        margin-right: rem(5px);
    }

    .reveal-text--spacing_sm & {
        margin-right: rem(10px);
    }

    .reveal-text--spacing_sm-below-md & {
        @media (max-width: max-width($break-grid-md)) {
            margin-right: rem(10px);
        }
    }
}
