// @todo - Make the same width as the site header when visible
// @todo - Look into why this isn't hidden on contact page
.skip {
    // display: flex;
    display: none;
    justify-content: center;
    position: fixed;
    left: 50%;
    width: 100%;
    transform: translate(-50%, rem(-100px));
    z-index: 10;
    transition: all $transition-cubic;

    &:focus-visible {
        transform: translate(-50%, rem(24px));
        outline: none;
    }
}
