.underlink {
    display: inline;
    padding-bottom: rem(2px);
    width: fit-content;
    text-decoration: none !important;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 0% rem(1px);
    transition: background-size $transition-cubic;

    &:hover,
    &:focus-visible {
        background-size: 100% rem(1px);
    }
}

.underlink--reverse {
    background-size: 100% rem(1px);
    background-position: 100% 100%;

    &:hover,
    &:focus-visible {
        background-size: 0% rem(1px);
    }
}
