.word-toggle {
    display: flex;
    flex-direction: column;
    gap: rem(8px);
    position: relative;
    @include type-style-02;
    color: $color-brand-black;
    transition: all $transition-default;

    &:has(.word-toggle__link:hover),
    &:has(.word-toggle__link:focus-visible) {
        color: $color-brand-orange;
    }
}

.word-toggle--is-animated {
}

.word-toggle__link {
    position: absolute;
    inset: 0;
    z-index: 100;
}

.word-toggle__unit {
}

.word-toggle__unit--primary {
    display: flex;
    gap: rem(24px);
    align-items: center;
}

.word-toggle__unit--secondary {
    .word-toggle--is-animated & {
        overflow: hidden;
    }
}

.word-toggle__title {
}

.word-toggle__icon {
    color: $color-brand-orange;
    transition: all $transition-default;

    .word-toggle:has(.word-toggle__link:hover) &,
    .word-toggle:has(.word-toggle__link:focus-visible) & {
        margin-left: rem(8px);
    }
}

.word-toggle-ticker {
    height: rem(42px);
    overflow: hidden;
}

.word-toggle-ticker__item {
    position: absolute;
    transform: translateY(100px);
    opacity: 0;
    visibility: hidden;
    transition: $transition-cubic;
    transition-property: transform opacity;

    &.is-active {
        transform: none;
        opacity: 1;
        visibility: visible;
        pointer-events: all;
    }
}
