//---------------------------------------------------------------------------
//	Inputs
//---------------------------------------------------------------------------

label {
    display: block;
    margin-bottom: rem(12px);
    @include type-style-09;
}

.required {
    color: $color-brand-orange;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    padding: rem(20px);
    width: 100%;
    background-color: $color-system-white;
    border: rem(1px) solid $color-system-border;
    outline: none;
    border-radius: $border-radius-md;
    transition-property: border-color box-shadow;
    transition: $transition-cubic;

    &:focus {
        border-color: $color-brand-black;
        box-shadow: 0 0 0 rem(1px) $color-brand-black;
    }

    &::placeholder {
        opacity: 1;
        color: $color-system-placeholder;
    }

    &.form__input--error {
        border-color: $color-brand-orange;
        box-shadow: 0 0 0 rem(1px) $color-brand-orange;
    }
}

textarea {
    height: rem(240px);
    resize: vertical;
}

//---------------------------------------------------------------------------
//	Form Block
//---------------------------------------------------------------------------

.form {
    display: flex;
    flex-direction: column;
    gap: rem(64px);
}

.form__unit {
}

.form__unit--content {
    display: flex;
    flex-direction: column;
    gap: rem(48px);
}

.form__unit--form {
}

.form-links {
    display: flex;
    gap: rem(16px) rem(48px);
    flex-wrap: wrap;
}

.form-links__item {
    @include type-style-09;
    color: $color-brand-black;
}

.form__title {
    @include type-style-01;
    color: $color-brand-orange;
}

.form-description {
    display: flex;
    flex-direction: column;
    gap: rem(4px);
}

.form-description__item {
    @include type-style-09;
    color: $color-brand-black;
}

.form-description__item--alt {
    color: $color-brand-grey;
}

.form__grid {
    @media (min-width: $break-grid-md) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0 rem(30px);
    }
}

.form__field {
    margin-bottom: rem(32px);
}

.form__error {
    margin-top: rem(8px);
    color: $color-brand-orange;
}

.form__actions {
    display: flex;
    align-items: center;
    gap: rem(16px);
}

.form-message {
    display: flex;
    flex-wrap: wrap;
    gap: rem(16px) rem(20px);
    align-items: center;
    justify-content: space-between;
    padding: rem(20px);
    margin-top: rem(32px);
    background-color: $color-system-white;
    border: rem(1px) solid $color-system-border;
    border-radius: $border-radius-md;
}

.form-message--success {
}

.form-message--error {
}

.form-message__title {
}
