//	Project: Boilerplate
//	[ Utilities ]

.u-visually-hidden {
    @include visually-hidden;
}

.u-responsive-embed {
    display: block;
    position: relative;
    overflow: hidden;
    height: 0;
    padding-bottom: 56.25%; // 16x9

    > * {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        border: 0;
    }
}

.u-clearfix {
    zoom: 1;

    &:before,
    &:after {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden;
    }

    &:after {
        clear: both;
    }
}

.u-print-only {
    display: none;

    @media print {
        display: block;
    }
}

.u-rounded {
    border-radius: rem(20px);

    @media (min-width: $break-grid-xl) {
        border-radius: rem(30px);
    }
}

.u-bg-yellow {
    background-color: $color-brand-yellow;
}

.u-bg-black {
    background-color: $color-brand-black;
}

.u-color-yellow {
    color: $color-brand-yellow;
}

.u-color-black {
    color: $color-brand-black;
}

.u-color-white {
    color: $color-system-white;
}

.u-overflow-right {
    margin-right: -$l-container-padding-xs;

    @media (min-width: $break-grid-lg) {
        margin-right: -$l-container-padding-lg;
    }

    @media (min-width: $break-grid-xl) {
        margin-right: -$l-container-padding-xl;
    }

    @media (min-width: $break-grid-2xl) {
        margin-right: -$l-container-padding-2xl;
    }
}
