//	Project: Boilerplate
//	[ Utilities ]

.u-visually-hidden {
    @include visually-hidden;
}

.u-responsive-embed {
    display: block;
    position: relative;
    overflow: hidden;
    height: 0;
    padding-bottom: 56.25%; // 16x9

    > * {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        border: 0;
    }
}

.u-clearfix {
    zoom: 1;

    &:before,
    &:after {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden;
    }

    &:after {
        clear: both;
    }
}

.u-print-only {
    display: none;

    @media print {
        display: block;
    }
}

.u-rounded {
    border-radius: rem(20px);
    overflow: hidden;

    @media (min-width: $break-grid-xl) {
        border-radius: rem(30px);
    }
}

.u-bg-orange {
    background-color: $color-brand-orange;
}

.u-bg-orange--light {
    background-color: $color-brand-orange-light;
}

.u-bg-yellow {
    background-color: $color-brand-yellow;
}

.u-bg-black {
    background-color: $color-brand-black;
}

.u-color-yellow {
    color: $color-brand-yellow;
}

.u-color-black {
    color: $color-brand-black;
}

.u-color-white {
    color: $color-system-white;
}

@mixin u-overflow-x($important: false) {
    $important-suffix: if($important, "!important", "");

    padding: 0 $l-container-padding-xs #{$important-suffix};
    margin: 0 (-$l-container-padding-xs) #{$important-suffix};

    @media (min-width: $break-grid-lg) {
        padding: 0 $l-container-padding-lg #{$important-suffix};
        margin: 0 (-$l-container-padding-lg) #{$important-suffix};
    }

    @media (min-width: $break-grid-xl) {
        padding: 0 $l-container-padding-xl #{$important-suffix};
        margin: 0 (-$l-container-padding-xl) #{$important-suffix};
    }

    @media (min-width: $break-grid-2xl) {
        padding: 0 $l-container-padding-2xl #{$important-suffix};
        margin: 0 (-$l-container-padding-2xl) #{$important-suffix};
    }
}

.u-overflow-x {
    @include u-overflow-x();
}

.u-overflow-x--important {
    @include u-overflow-x(true);
}

.u-overflow-right {
    padding-right: $l-container-padding-xs;
    margin-right: (-$l-container-padding-xs);

    @media (min-width: $break-grid-lg) {
        padding-right: $l-container-padding-lg;
        margin-right: (-$l-container-padding-lg);
    }

    @media (min-width: $break-grid-xl) {
        padding-right: $l-container-padding-xl;
        margin-right: (-$l-container-padding-xl);
    }

    @media (min-width: $break-grid-2xl) {
        padding-right: $l-container-padding-2xl;
        margin-right: (-$l-container-padding-2xl);
    }
}
