@import "functions";

//---------------------------------------------------------------------------
//	Typography
//---------------------------------------------------------------------------

$font-family-01: "neue-haas-grotesk-text", Arial, Helvetica, sans-serif;

$font-size-base: 16px;

//---------------------------------------------------------------------------
//	Colors
//---------------------------------------------------------------------------

$color-brand-yellow: #dbfc0d;
$color-brand-yellow-light: #f5f9de;
$color-brand-orange: #fc550d;
$color-brand-orange-light: #faede7;

$color-brand-black: #000;
$color-brand-grey: #4b4b4b;
$color-brand-light-grey: #f7f7f7;

$color-system-black: #000;
$color-system-border: #dddee1;
$color-system-placeholder: #969696;
$color-system-white: #fff;

$color-page-bg: $color-brand-light-grey;

//---------------------------------------------------------------------------
//  Breakpoints
//
//  Global breakpoints used across the site. Use t-shirt sizing for naming.
//  Add larger and smaller sizes with the format 2xs or 2xl.
//---------------------------------------------------------------------------

$break-grid-xs: em(460px);
$break-grid-sm: em(580px);
$break-grid-md: em(768px);
$break-grid-lg: em(1024px);
$break-grid-xl: em(1280px);
$break-grid-2xl: em(1400px);
$break-grid-3xl: em(1600px);

//---------------------------------------------------------------------------
//	Layout
//---------------------------------------------------------------------------

$l-container-padding-xs: rem(20px);
$l-container-padding-lg: rem(30px);
$l-container-padding-xl: rem(48px);
$l-container-padding-2xl: rem(64px);

$l-container-max-width-sm: rem(800px);
$l-container-max-width-md: rem(968px);
$l-container-max-width-lg: rem(1920px);

$l-grid-padding-xs: rem(10px);
$l-grid-padding-xl: rem(20px);

$l-section-spacing-xs: rem(48px);
$l-section-spacing-sm: rem(64px);
$l-section-spacing-md: rem(80px);
$l-section-spacing-lg: rem(96px);
$l-section-spacing-xl: rem(128px);

$l-component-spacing-xs: rem(30px);

//---------------------------------------------------------------------------
//	Site Header
//---------------------------------------------------------------------------

$site-header-height: rem(140px);

//---------------------------------------------------------------------------
//	Transitions
//---------------------------------------------------------------------------

$transition-default: 0.2s ease-out;
$transition-cubic: 1.2s cubic-bezier(0.16, 1.08, 0.38, 0.98);

//---------------------------------------------------------------------------
//	Border Radius
//---------------------------------------------------------------------------

$border-radius: rem(6px);
$border-radius-default: $border-radius;
$border-radius-md: rem(8px);
$border-radius-lg: rem(12px);
$border-radius-xl: rem(16px);
$border-radius-2xl: rem(32px);
$border-radius-full: rem(9999px);
