.site-header {
    // display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.site-header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: rem(24px);
    padding-bottom: rem(24px);
}

.site-header__unit {
    transition: all $transition-cubic;
}

.site-header__unit--site-brand {
}

.site-header__unit--primary-menu {
    display: none;

    @media (min-width: $break-grid-sm) {
        display: block;
    }

    .site-offcanvas--active & {
        transform: translateY(rem(-24px));
        opacity: 0;
        pointer-events: none;
    }
}

.site-header__unit--site-offcanvas-trigger {
}
