.site-footer {
    background: $color-system-white;
}

.site-footer__container {
    padding-top: rem(64px);
    padding-bottom: rem(32px);

    @media (min-width: $break-grid-md) {
        padding-top: rem(80px);
        padding-bottom: rem(40px);
    }

    @media (min-width: $break-grid-xl) {
        padding-top: rem(96px);
        padding-bottom: rem(48px);
    }

    @media (min-width: $break-grid-3xl) {
        padding-top: rem(128px);
        padding-bottom: rem(64px);
    }
}

.site-footer__container--sm {
    padding-top: rem(32px);
    padding-bottom: rem(32px);

    @media (min-width: $break-grid-md) {
        padding-top: rem(40px);
        padding-bottom: rem(40px);
    }

    @media (min-width: $break-grid-xl) {
        padding-top: rem(48px);
        padding-bottom: rem(48px);
    }

    @media (min-width: $break-grid-3xl) {
        padding-top: rem(64px);
        padding-bottom: rem(64px);
    }
}

.site-footer__unit {
}

.site-footer__unit--cta {
    margin-bottom: rem(64px);

    @media (min-width: $break-grid-md) {
        margin-bottom: rem(80px);
    }

    @media (min-width: $break-grid-xl) {
        margin-bottom: rem(96px);
    }

    @media (min-width: $break-grid-3xl) {
        margin-bottom: rem(128px);
    }
}

.site-footer__unit--socket {
    display: flex;
    gap: rem(32px) 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-size: rem(15px);

    .site-footer__container & {
        padding-top: rem(32px);
        border-top: rem(1px) solid $color-system-border;

        @media (min-width: $break-grid-md) {
            padding-top: rem(48px);
        }
    }
}

.site-footer__unit--site-legal {
}

.site-footer__unit--social-media {
}

.site-legal {
    display: flex;
    gap: rem(8px) 0;
    flex-wrap: wrap;
    align-items: center;
}

.site-legal__unit {
    &:not(:last-child) {
        margin-right: rem(20px);
    }
}

.site-legal__unit--logo {
}

.site-legal__unit--copyright {
    margin-right: rem(48px);
}

.site-legal__unit--acknowledgement {
}

.site-legal__logo {
    width: rem(24px);
    height: rem(20px);
}
