// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------
@font-face {
    font-family: "Gordita Light";
    src: url("/fonts/Gordita\ Light.otf") format("otf");
}
@font-face {
    font-family: "Gordita Regular";
    src: url("/fonts/Gordita\ Regular.otf") format("otf");
}
@font-face {
    font-family: "Gordita Medium";
    src: url("/fonts/Gordita\ Medium.otf") format("otf");
}
@font-face {
    font-family: "Gordita Bold";
    src: url("/fonts/Gordita\ Bold.otf") format("otf");
}